html{
    scroll-behavior: smooth;
    background-image: linear-gradient(to right, black, rgb(41, 39, 39));
   
    
    
}

body{
    
    color: rgb(214, 206, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1300px;
    margin: auto;  
    padding: 20px; 
    
}

#title{
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    
}
ul{
    float:right;
    align-items:center;
    
}

li{ 
    display:inline-flex;
    margin: 15px; 
    word-spacing: 60px; 
}
body a{    
    text-decoration: none;
    background-color: rgb(228, 87, 31);
    border-radius: 20px;    
    color: white;
    font-size:12px;
    padding-top: 2px;
    padding-bottom: 4px;
    
}
a:hover{
    background-color: rgb(53, 50, 49);
    color:rgb(228, 87, 31);
    transition: 0.6ms all;
}
main{
    display:block;
    flex-direction:column;
    margin-top: 100px;
}
h1{
    align-items: center;
    color:rgb(228, 87, 31);
    width: 100%;
}
h2{    
    font-size: 35px;
    line-height: 35px;
    width: 100%;

}
span{
    color: rgb(228, 87, 31);
}

p{
    line-height: 28px;
    max-width: 700px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    font-size: 25px;
    text-align:justify;   
}
img{
    width: 100%;  
    height: auto;   
    border-radius: 10px; 
    box-shadow: 10px  4px 10px rgb(0, 0, 0);  
    max-width:900px;
    max-height: 900px;          
}   

.grid-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto ;
    gap: 1px;    
    padding: 10px;
    padding-top: 15px;
}
.grid-container > div {   
    padding: 1px 1px 1px ;
    font-size: 10px;
    
}
#rodape{
    box-sizing:content-box;
    background-color: black;
    display: block;
    color: rgb(228, 87, 31);
    text-align: center;    
}

   