
body{
    background-color: rgb(53, 50, 49);
    color: rgb(214, 206, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1300px;
    margin: auto;  
    padding: 20px;  
}
#pic{
    display:inline-flex;
    background-color: rgb(197, 189, 189);
    border-color: rgb(228, 87, 31);
    border-radius: 5px;
    max-width: 100;
}
#title{
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    
}
ul{
    float:right;
    align-items: stretch;
    
}

li{ 
    display:inline-block;
    margin: 20px;  
}
a{    
    text-decoration: none;
    background-color: rgb(22, 21, 21);
    border-radius: 15px;
    color: rgb(228, 87, 31);
    font-size:medium;
    
    
}
a:hover{
    color:white;
    transition: 0.6ms all;
}
main{
    display:block;
    flex-direction: row;
    margin-top: 100px;
}
h1{
    align-items: center;
    color:rgb(228, 87, 31);
    width: 100%;
}
h2{    
    font-size: 35px;
    line-height: 35px;
    width: 100%;

}
span{
    color: rgb(228, 87, 31);
}
p{
    line-height: 28px;
    max-width: 700px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique;
    font-size: 25px;
    text-align:justify;   
}
img{
    width: 95%;
     
    border-radius: 20px; 
    box-shadow: 10px  4px 10px rgb(0, 0, 0); 
    max-width: 700px;
    max-height: 700px; 
    align-items: center;  
}   